body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: gray;
}

.container {
    text-align: center;
}

.rectangle {
    background-color: black;
    border: 10px solid black;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    margin: 0 auto;
    width: 300px;
    height: 100px;
    background-color: gray;
}

button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

#yesButton {
    background-color: #007BFF;
    color: #fff;
}

#noButton {
    background-color: #dc3545;
    color: #fff;
}
#nextButton {
    background-color: #007BFF;
    border-radius: 20px;
    width: 60px;
    height: 30px;
    
}